* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root {
  margin: 0;
  /* padding: 15px; */
  height: 100%;
  background-color: rgb(57, 57, 57);
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.box {
  background-color: lightblue;
  width: 150px;
  height: 150px;
}

#title-text {
  color: white;
}

.text-black {
  color: black;
}
.text-white {
  color: white;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: .25;
  background-color: black;
  border-radius: 5px;
  margin: 0px;
  margin-bottom: 25px;
}

.main-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 50px;
}

form {
  /* flex: .5; */
  /* height: 40px; */
  margin: 0;
  padding: 10px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 10px;
  
}

label {
  align-self: center;
}

input, select:focus, textarea {
  border: none;
  border-radius: 5px;
  /* height: 25px;   */
  font-size: 16px;
}

button {
  background-color: rgb(0, 127, 169);
  border: none;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: black;

}

ul {
  margin: 0;
  padding: 10px;
  /* padding-left: 20px; */
  flex: 2;
  height: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
}

li {
  /* flex: 1; */
  background-color: rgb(45, 45, 45);
  padding-left: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: circle;
  text-align: center;
  border-radius: 5px;
}

li::before {
  list-style-type: circle;
}

/* li {
  grid-column: 1;
} */

li > button {
  /* margin-left: 25px; */
  height: 50px;
  padding: 10px;
}

h1 {
  font-weight: 400;
  color:rgb(0, 127, 169);
}

#clear-all-container {
  height: 10%;
  align-self: center;
}

#clear-all {
  /* width: 100px; */
  width: auto;
  height: 50px;
}