* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  /* overflow: auto; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root {
  min-height: 100%;
  background-color: rgb(57, 57, 57);
  display: flex;
  flex-direction: column;
}

.box {
  background-color: lightblue;
  width: 150px;
  height: 150px;
}

#title-text {
  color: white;
}

.text-black {
  color: black;
}
.text-white {
  color: white;
}

#title {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: .25;
  background-color: black;
  border-radius: 0px 5px;
  margin: 0px;
  margin-bottom: 15px;
}

.main-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 25px;
  border: 1px solid blue;
}

form {
  margin: 0;
  padding: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
  border: 1px solid red;
}

label {
  align-self: center;
}

input, select:focus, textarea {
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: rgb(0, 127, 169);
  border: none;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: black;
}

ul {
  margin: 0;
  padding: 10px;
  flex: 2;
  height: 75%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: auto;
  border: 1px solid yellow;
}

li {
  background-color: rgb(45, 45, 45);
  /* padding-left: 10px; */
  width: 100%;
  height: 50px;
  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-start;
  /* list-style-type: circle; */
  /* border-radius: 5px; */
}

li > span {
  flex: 1.5;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

li::before {
  list-style-type: circle;
}

.list-buttons {
  height: 100%;
  width: 50%;
  border-radius: 0px;
  border: 1px solid black;
}

#task-text {
  justify-self: flex-start;
}

#edit-delete-btn-container {
  flex: .5;
  display: flex;
  /* gap: 10px; */
}

h1 {
  font-weight: 400;
  color:rgb(0, 127, 169);
}

#clear-all-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid green;
}

#clear-all {
  height: 50px;
}